body {
    background-image: url('xwing.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#loginHeader {
    background-color: skyblue;
    background-image: url('space.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    border: 0px;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}

form {
    background-color:  white;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 380px;
    margin: 100px 500px 100px 500px ;
}

#container {
    text-align: center;
    padding-top: 20px;
}

#loginButton {
    background-image: url('space.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    width: 80px;
    height: 30px;
    background-color: skyblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 42px;
}

 #FP {
    padding-top: 10px;
    font-size: 14px;
    cursor: pointer;
 }

#homeDir {
    color: black;
}

*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "navbar navbar"
    "maincontent maincontent"
    "footer footer";
}

.aboutWmsuMap{
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;          
}

nav{
    grid-area: navbar;
    background-color: white;
    color: black;
    padding: 1em;
    position: sticky;
    top: 0;
}

.wmsuMap{
    height: 500PX;
    width: 800PX;
}

main{
    grid-area: maincontent;
    background-color: crimson;
    background: #b81a1a;
    background: linear-gradient(90deg, rgba(184, 26, 26, 1) 0%, rgba(255, 0, 0, 1) 44%, rgba(255, 255, 255, 1) 100%);
}

#about-us{
    background: #ff0000;
    background: linear-gradient(360deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 94%);
}

main > h1{
    color: white;
}

main > p{
    color: white;
}

.about-usSpan{
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

footer{
    grid-area: footer;
    background-color: gray;
    color: white;
    padding: 2em;
}

.sticky{
    display: flex;
    position: sticky;
    top: 0px;
}

nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    border: none;
    border-radius: 20px;
    height: 100%;
    padding: 0px 30px; 
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover{
    background-color: crimson;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    height: 2000PX;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.map{
   background-color: white;
}

.breakline{
    height: 200px;
}

div > h1{
    color: crimson;
    margin-bottom: 60px;
}

#title{
    color: white;
    text-align: center;
}

blockquote{
    font-size: 50px;
    text-align: center;
}


/*-----Temporarily Add Space For Div-----*/
.space{
    background: #b81a1a;
    background: linear-gradient(180deg, rgba(184, 26, 26, 1) 0%, rgba(255, 0, 0, 1) 6%, rgba(255, 255, 255, 1) 100%);
    height: 95vh;
    color: white;
}

/*-----Temporarily Add Space For Div-----*/

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-top: 10px;
    font-size: 14px;
    resize: vertical;
}

footer > div{
    text-align: center;
}

#contact-us{
    text-align: center;
}
 
div > a{
    font-size: 22px;
    text-align: center;
}
div > h2{
    text-align: center;
}

#comments{
    display: flex;
}



/*------------example--------------*/



